<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-3 hidden">
        <h2>Our Work</h2>
        <h3>Products</h3>
        <nav>
          <a href="">Product #1</a>
          <a href="">Product #2</a>
          <a href="">Product #3</a>
        </nav>
        <h3>Services</h3>
        <nav>
          <a href="">Service Project #1</a>
          <a href="">Service Project #2</a>
          <a href="">Service Project #3</a>
        </nav>
      </div>
      <div class="col-md-3">
        <h2>About {{site.app_name_tag}}</h2>
        <nav>
          <a href="{{site.baseurl}}/">{{site.app_name_tag}} Home</a>
          <a href="{{site.baseurl}}/about/">About</a>
          <a href="{{site.baseurl}}/team/">Our Team</a>
          <!-- <a href="{{site.baseurl}}/faq/">FAQs</a> -->
          <a href="{{site.baseurl}}/contact/">Contact</a>
          <!-- <a href="{{site.baseurl}}/terms/">Terms of Service</a> -->
          <!-- <a href="{{site.baseurl}}/privacy/">Privacy Policy</a> -->
        </nav>
      </div>
      <div class="col-md-6 col-md-offset-3 social-container">
        <nav class="social-links">
          <a href="https://github.com/CodeAstra/" target="_blank"><i class="fa fa-github-square" aria-hidden="true"></i></a>
          <a href="https://www.facebook.com/CodeAstra/" target="_blank"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
          <a href="https://twitter.com/CodeAstra" target="_blank"><i class="fa fa-twitter-square" aria-hidden="true"></i></a>
          <!-- <a href="" target="_blank"><i class="fa fa-google-plus-square" aria-hidden="true"></i></a> -->
          <!-- <a href="" target="_blank"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a> -->
          <!-- <a href="" target="_blank"><i class="fa fa-instagram-square" aria-hidden="true"></i></a> -->
        </nav>
        <iframe src="http://www.facebook.com/plugins/likebox.php?href=https%3A%2F%2Fwww.facebook.com%2FCodeAstra&width&height=258&colorscheme=dark&show_faces=true&header=false&stream=false&show_border=false&appId=415853578485778" frameBorder="0"></iframe>
        <div class="copyright">&copy; 2014 - {{ site.time | date: '%Y' }} Code Astra</div>
      </div>
    </div>
  </div>
</footer>
