$about-major-color: #795548;
$about-minor-color: #009688;

#about-page {
  .page-title-container {
    background-image: url('/images/bg/about.jpg');

    .jumbotron {
      @include gradient-bg($about-major-color, $about-minor-color, 0.9);
    }
  }

  .gradient-wells .well {
    @include gradient-bg($about-major-color, $about-minor-color);
  }

  #expertise {
    .skills {
      margin: 3em 0;
    }

    .skill {
      background-color: $light-color;
      padding: 25px 15px;
      @include animate(background-color);

      img {
        height: 100px;
        @include animate(transform);
      }

      p {
        margin-top: 1em;
        @include animate(transform);
      }

      &:hover {
        background-color: $darker-light-color;

        img {
          transform: scale(0.8);
        }

        p {
          transform: scale(1.2);
        }
      }
    }
  }
}
