body {
  @include main-font;
  background-color: $light-bg-color;
  color: $dark-font-color;
  position: relative;
  z-index: 1;
  -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: $normal-font-weight;
}

h1, h2 {
  text-transform: uppercase;
}

h2 {
  font-weight: $normal-font-weight;
  font-size: 3.6rem;
  margin: 1em 0;

  @media (min-width: 760px) {
    font-size: 6rem;
  }
}

p, ul {
  font-size: 1.5rem;
}

main p a, main li a {
  border-bottom: 1px solid transparent;

  &, &:hover, &:visited, &:active {
    color: $link-font-color;
    text-decoration: none;
  }

  &:hover {
    border-bottom: 1px dotted $link-font-color;
  }
}

header {
  nav.navbar.navbar-default {
    background-color: transparent;
    border-color: transparent;
    padding: 20px 0;
    margin-bottom: 0;
    border-radius: 0;

    .gradient-bg {
      opacity: 0;
      @include animate(opacity, 1s);
      @include animated-gradient-bg($gradient-major-color, $gradient-minor-color, 1);
      position: absolute;
      z-index: -1;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

    &.affix-top {

      .gradient-bg {
        opacity: 0;
      }
    }

    &.affix {
      .gradient-bg {
        opacity: 1;
      }
    }

    a.navbar-brand {
      padding: 5px 0 5px 5px;

      img {
        max-width: 50vw;
        position: relative;
        top: 25px;
        transform: translateY(-50%);
      }
    }

    .navbar-nav>li {
      &>a {
        color: $light-font-color;
        font-size: 1.2em;
        font-weight: $normal-font-weight;
        transition: all 0.3s ease-in;
        border-bottom: 3px solid transparent;
      }

      &.active>a {
        border-bottom: 3px solid $primary-color;
        background-color: transparent;
      }

      &.open>a, &>a:hover, &>a:active, &>a:focus {
        background-color: transparent;
        color: $primary-color;
      }
    }
  }
}

footer {
  @include gray-gradient-bg;
  color: $light-font-color;
  padding: 2rem 0;
  text-align: left;

  h2 {
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: $normal-font-weight;
    color: $light-font-color;
  }

  h3 {
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: $light-font-weight;
    color: $light-font-color;
  }

  nav {
    a {
      font-size: 1.5rem;
      font-weight: $light-font-weight;
      display: block;
      border-bottom: 1px solid rgba(255, 255, 255, 0.1);
      padding: 0.5em 0;
      @include animate(all);

      &, &:hover, &:visited, &:active, &:focus {
        color: $darker-light-color;
        text-decoration: none;
      }

      &:last-child {
        border-bottom: none;
      }

      &:hover {
        color: $light-font-color;
        padding-left: 1em;
      }
    }

    &.social-links {
      margin-bottom: 2em;

      a {
        font-size: 1.8em;
        display: inline-block;
        border: none;
        padding: 0 0.2em;

        &:hover {
          padding: 0 0.2em;
        }
      }
    }
  }

  .social-container {
    text-align: center;

    .copyright {
      font-weight: $light-font-weight;
      color: $darker-light-color;
      margin-top: 1em;
    }
  }

}

section {
  padding: 5vh 0;
}

.page-title-container {
  background-size: cover;
  background-position: 50% 50%;
  padding: 0;

  .jumbotron {
    color: $light-font-color;
    padding: calc(12rem + 60px) 0 12rem;

    h1 {
      text-transform: uppercase;
      margin-top: 0;

      em {
        font-style: normal;
        color: $primary-color;
      }
    }

    p {
      font-weight: $normal-font-weight;
      margin: 2em 0 0;
    }

    .action-container {
      margin-top: 8rem;
    }
  }

  &.bg-top-focus {
    background-position: top center;
  }

  &.bg-bottom-right-focus {
    background-position: bottom right;
  }
}

.fullscreen {
  height: 100vh;
  @include full-width;
}

.brand_name {
  white-space: nowrap;
}

.btn-dark {
  @include gray-gradient-bg;
  @include animate(color);

  &, &:hover, &:active, &:visited, &:focus {
    color: $light-font-color;
    text-decoration: none;
  }

  &:hover {
    color: $primary-color;
  }
}

.btn-outline, .btn-dark-outline {
  border-radius: 4px;
  background-color: transparent;
  @include animate(background-color);

  &, &:hover {
    text-decoration: none;
  }

  i {
    margin-left: 0.7em;
    line-height: 1.4em;
  }
}

.btn-outline {
  border: 1px solid $light-font-color;

  &, &:hover {
    color: $light-font-color;
  }

  &:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }

  i {
    color: $light-font-color;
  }
}

.btn-dark-outline {
  border: 1px solid $dark-font-color;

  &, &:hover {
    color: $dark-font-color;
  }

  &:hover {
    background-color: rgba(0, 0, 0, 0.05);
  }

  i {
    color: $dark-font-color;
  }
}

.summary-wells {
  .well {
    background-color: $dark-bg-color;
    border: none;
    color: $light-font-color;
    margin-bottom: 2em;

    i.fa {
      font-size: 8rem;
      line-height: 8rem;
      margin-top: 3rem;

      &.fa-magic {
        font-size: 6rem;
      }
    }

    h3 {
      height: 5em;
      line-height: 1.4em;
      font-weight: $normal-font-weight;
      text-transform: uppercase;
      white-space: nowrap;

      em {
        font-weight: $light-font-weight;
        font-style: italic;
      }
    }

    p {
      height: 5em;
    }
  }
}
