// $contact-major-color: #d35400;
// $contact-minor-color: #f39c12;
$contact-major-color: #2980b9;
$contact-minor-color: #16a085;

#contact-page {
  .page-title-container {
    background-image: url('/images/bg/about.jpg');

    .jumbotron {
      @include animated-gradient-bg($contact-major-color, $contact-minor-color, 0.9);
    }
  }
}
