#home {
  section {
    padding: 5vh 0;
  }

  #land {
    background-image: url('../images/land/land-bg.jpg');
    background-size: cover;
    background-position: bottom right;

    .jumbotron {
      background-color: transparent;

      h1 {
        text-transform: uppercase;

        em {
          font-style: normal;
          color: $primary-color;
        }
      }

      p {
        color: $dark-font-color;
        font-weight: $normal-font-weight;
        margin: 2em 0 4em;
      }
    }
  }

  #we-do {
    h3 {
      height: 3em;
      font-weight: $normal-font-weight;
    }

    p {
      height: 5em;
      font-size: 1.1em;
    }

    a {
      font-weight: $bold-font-weight;
      font-size: 1.2em;
      color: darken($primary-color, 10%);
      transition: color 0.3s ease-in;

      &:hover {
        color: $primary-color;
      }

      &, &:hover, &:active, &:visited {
        text-decoration: none;
      }
    }
  }

  #expertise {
    .skills {
      margin: 3em 0;
    }

    .skill {
      background-color: $light-color;
      padding: 25px 15px;
      @include animate(background-color);

      img {
        height: 100px;
        @include animate(transform);
      }

      p {
        margin-top: 1em;
        @include animate(transform);
      }

      &:hover {
        background-color: $darker-light-color;

        img {
          transform: scale(0.8);
        }

        p {
          transform: scale(1.2);
        }
      }
    }
  }
}
