#home {
  section {
    padding: 5vh 0;
  }

  #land {
    background-image: url('../images/land/land-bg.jpg');
    background-size: cover;
    background-position: bottom right;
    padding: 0;

    .jumbotron {
      color: $light-font-color;
      @include gradient-bg;
      padding: 108px 0 48px;

      h1 {
        text-transform: uppercase;

        em {
          font-style: normal;
          color: $primary-color;
        }
      }

      p {
        font-weight: $normal-font-weight;
        margin: 2em 0 4em;
      }
    }
  }

  #we-do {
    .well {
      background-color: $dark-bg-color;
      border-color: $dark-bg-color;
      color: $light-font-color;
      margin-bottom: 2em;

      i.fa {
        font-size: 8rem;
        line-height: 8rem;
        margin-top: 3rem;

        &.fa-magic {
          font-size: 6rem;
        }
      }

      h3 {
        height: 5em;
        line-height: 1.4em;
        font-weight: $normal-font-weight;
        text-transform: uppercase;
        white-space: nowrap;

        em {
          font-weight: $light-font-weight;
          font-style: italic;
        }
      }

      p {
        height: 5em;
      }
    }
  }
}
