@mixin main-font {
  font-family: $main-font;
  font-weight: $normal-font-weight;
}

@mixin vertical-center {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

@mixin flat-box-shadow {
  box-shadow: 0px 10px 30px 0px $dark-font-color;
  position: relative;
  overflow: auto;
}

@mixin full-width {
  width: 100vw;
  max-width: 100%;
}

@mixin decorated-heading-container($heading-bg-color, $heading-font-color) {
  position: relative;

  &::before {
    content: '';
    border-top: 1px solid $heading-font-color;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
  }

  h2 {
    font-weight: $light-font-weight;
    color: $heading-font-color;
    display: inline-block;
    margin: 0;
    background-color: $heading-bg-color;
    position: relative;
    padding: 0 1em;

    @media (min-width: 768px) {
      font-size: 3em;
    }
  }
}

@mixin animate($property-to-animate, $animation-time: 0.3s, $animation-effect: ease-in) {
  transition: $property-to-animate $animation-time $animation-effect;
}

@mixin rounded-large-button($link-font-color, $link-bg-color, $link-font-size) {
  display: block;
  margin: 0 auto;
  padding: 0.15*$link-font-size 0 0.25*$link-font-size;
  text-align: center;
  font-size: $link-font-size;
  font-weight: $light-font-weight;
  color: $link-font-color;
  background-color: transparent;
  border: 1px solid $link-font-color;
  border-radius: 0.2 * $link-font-size;
  @include animate(background-color);

  &:hover {
    background-color: $link-bg-color;
    text-decoration: none;
  }
}

@mixin gradient-bg($major-color: $dark-bg-color, $minor-color: $primary-color, $opacity: 0.95, $first-break: 10%, $second-break: 60%) {
  background: linear-gradient(135deg, rgba($major-color, $opacity), rgba(mix($minor-color, $major-color, 25%), $opacity) $first-break, rgba(mix($minor-color, $major-color, 90%), $opacity) $second-break, rgba(mix($minor-color, $major-color, 20%), $opacity));
}

@mixin gray-gradient-bg {
  @include gradient-bg($dark-bg-color, $lighter-dark-color, 1, 30%, 80%);
}

@mixin animated-gradient-bg($major-color: $dark-bg-color, $minor-color: $primary-color, $opacity: 0.95, $speed: 15s) {
  background: linear-gradient(270deg, rgba($major-color, $opacity), rgba($minor-color, $opacity));
  background-size: 400% 400%;

  -webkit-animation: AnimationName $speed ease infinite;
  -moz-animation: AnimationName $speed ease infinite;
  -o-animation: AnimationName $speed ease infinite;
  animation: AnimationName $speed ease infinite;

  @-webkit-keyframes AnimationName {
      0%{background-position:0% 50%}
      50%{background-position:100% 50%}
      100%{background-position:0% 50%}
  }
  @-moz-keyframes AnimationName {
      0%{background-position:0% 50%}
      50%{background-position:100% 50%}
      100%{background-position:0% 50%}
  }
  @-o-keyframes AnimationName {
      0%{background-position:0% 50%}
      50%{background-position:100% 50%}
      100%{background-position:0% 50%}
  }
  @keyframes AnimationName {
      0%{background-position:0% 50%}
      50%{background-position:100% 50%}
      100%{background-position:0% 50%}
  }
}
