$team-major-color: #03A9F4;
$team-minor-color: #4CAF50;

#team-page {
  .page-title-container {
    background-image: url('/images/bg/about.jpg');

    .jumbotron {
      @include gradient-bg($team-major-color, $team-minor-color, 0.9);
    }
  }

  #experts {
    .expert {
      img {
        border-radius: 50%;
        filter: sepia(1);
        transition: filter 0.3s ease-in;
        margin: 0 auto;
        @include animate(all);

        &:hover {
          filter: none;
          transform: scale(1.1);
        }
      }
    }
  }
}
