// $team-major-color: #34495e;
// $team-minor-color: #8e44ad;
$team-major-color: $gradient-major-color;
$team-minor-color: $gradient-minor-color;

#team-page {
  .page-title-container {
    background-image: url("/images/bg/about.jpg");

    .jumbotron {
      @include animated-gradient-bg($team-major-color, $team-minor-color, 0.9);
    }
  }

  #experts {
    .expert {
      img {
        border-radius: 50%;
        filter: sepia(1);
        transition: filter 0.3s ease-in;
        margin: 0 auto;
        @include animate(all);

        &:hover {
          filter: none;
          transform: scale(1.1);
        }
      }

      h3 {
        font-weight: $light-font-weight;
        font-size: 3rem;
      }

      .title {
        color: $dark-balanced-color;
        font-weight: $light-font-weight;
        font-size: 2rem;
      }

      .tag {
        color: $dark-energized-color;
        font-size: 1.8rem;
      }

      .summary {
        .apply-now {
          margin-top: 1rem;
          color: $dark-balanced-color;
          border: 1px solid currentColor;
          border-radius: 3px;
          font-size: 1.6rem;
          padding: 1rem 2rem;
          display: inline-block;
          background-color: rgba($dark-balanced-color, 0.04);
          transition: 0.2s ease-in;

          &:hover {
            background-color: rgba($dark-balanced-color, 0.1);
          }
        }
      }
    }
  }
}
