$main-font: 'Lato', sans-serif;

$primary-color: #bada55;
$dark-color: #555;
$darker-dark-color: #424143;
$lighter-dark-color: #9396a9;
$light-color: #fff;
$darker-light-color: #e8e8e8;

$dark-font-color: $dark-color;
$lighter-dark-font-color: $lighter-dark-color;
$light-font-color: $light-color;
$darker-light-font-color: $darker-light-color;
$light-bg-color: $light-color;
$dark-bg-color: $dark-color;

$link-font-color: $primary-color;

$light-calm-color: #3498db;
$dark-calm-color: #2980b9;
$light-balanced-color: #2ecc71;
$dark-balanced-color: #27ae60;
$light-energized-color: #f1c40f;
$dark-energized-color: #f39c12;
$light-assertive-color: #e74c3c;
$dark-assertive-color: #c0392b;

// Available font weights: 100, 300, 400, 700, 900
$thin-font-weight: 100;
$light-font-weight: 300;
$normal-font-weight: 400;
$bold-font-weight: 700;
$ultra-bold-font-weight: 900;
