$main-font: 'Lato', sans-serif;
$thin-font: 'Lato', sans-serif;
$primary-color: #1abc9c;
$possible-primary-color: #5acbad;
$darker-primary-color: #008080;
$secondary-color: #34495e;
$possible-secondary: #3EA0E4;
$special-color-1: #F5AB35; // Yellow
$special-color-2: #663399; // Purple
$special-color-3: #C0392B; // Red
$special-color-4: #3498DB; // Blue
$special-color-5: #049372; // Green
$dark-font-color: #454753;
$lighter-dark-font-color: #9396a9;
$light-font-color: #fff;
$darker-light-font-color: #959bae;
$light-bg-color: #fff;
$darker-light-bg-color: #e8ebf2;
$dark-bg-color: #2b2f3e;
$lighter-dark-bg-color: #747d93;

$link-font-color: $primary-color;

$light-calm-color: #3498db;
$dark-calm-color: #2980b9;
$light-balanced-color: #2ecc71;
$dark-balanced-color: #27ae60;
$light-energized-color: #f1c40f;
$dark-energized-color: #f39c12;
$light-assertive-color: #e74c3c;
$dark-assertive-color: #c0392b;

// Available font weights: 100, 300, 400, 700, 900
$thin-font-weight: 100;
$light-font-weight: 300;
$normal-font-weight: 400;
$bold-font-weight: 700;
$ultra-bold-font-weight: 900;
