$work-major-color: #2196F3;
$work-minor-color: #8BC34A;

#work-page {
  .page-title-container {
    background-image: url('/images/bg/about.jpg');

    .jumbotron {
      // @include gradient-bg($work-major-color, $work-minor-color, 0.9);
      @include animated-gradient-bg($work-major-color, $work-minor-color, 0.9);
    }
  }

  .project {
    // @include gradient-bg($work-major-color, $work-minor-color, 0.3);
    @include animated-gradient-bg($work-major-color, $work-minor-color, 0.3);
  }

  #projects {
    .project {
      background-color: $darker-light-color;
      margin: 8rem 0;
      padding: 12rem 2rem;

      .details {
        h2 {
          font-size: 4rem;
          margin: 0 0 2rem;
        }

        p {
          font-size: 2rem;
        }

        a {
          width: 6em;

          &:last-child {
            margin-left: 1em;
          }
        }
      }
    }
  }
}
